h1{
     text-align: center;
    font-size: 50px;
    color:rgb(0, 0, 0);
}


.myimage{
    width: 100%;
}
.hedgehod_eat_cookies{
    width: 100%;
}

.list{
    list-style-type: none;
    border: 3px solid rgba(0, 0, 0, 0.596);
    width: 500px;
    margin: 20px;
    padding: 35px;
}

body{
    background-color: rgb(126, 126, 126);
}

nav{
    text-align: center;
    padding: 10px;
}

header{
    background-color: rgb(157, 168, 156);
    height: 84px;
}

nav a{
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 26px;
    background-color: rgb(79, 92, 81);
}
nav a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(53, 88, 49);
    transition: all 0.8s linear;
}
section{
    width: 90%;
    background-color: rgb(122, 122, 122);
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 20px auto 0;
    padding: 20px;
}
section p{
    font-size: 16px;
    color: rgb(0, 0, 0);
}

iframe{
    width: 100%;
    height: 700px;
}

div.video-container iframe{
    width: 530px;
    height: 315px;
}

.video-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
audio{
    width: 100%;
}
section:hover{
    transition: all 1s linear;
    background-color: rgb(92, 102, 97);
}


.video-section:hover .video-container{
    transition: all 1s linear;
    transform: translateX(0px);
}

td img{
    width: 100px;
    height: 60px;
}
td a{
    color: black;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
td, th{
    border: 2px solid black;
    padding: 5px;
}
tr:nth-child(even){
    background-color: #d0ffe9;
}
tr:nth-child(odd){
    background-color: rgb(235, 235, 235);
}

tr:hover{
    background-color: rgb(137, 248, 123);
    transition: all 0.2s linear;
    font-weight: bold;
}

footer{
    display: flex;
    background-color: rgb(160, 190, 180);
    height: 100px; align-items: center;
    justify-content: center; gap: 30px;
    font-size: 60px;
    font-weight: bold;
    border-radius: 100px;
}
.w-70{
    width: 70%;
}
.w-30{
    width: 30%;
}
.two-cards{
    display: flex;
    gap: 30px;
}
.card{
    border-radius: 15px;
    padding: 10px;
    background-color: #6f7773;
}
.card2{
    border-radius: 15px;
    padding: 10px;
    background-color: #6f7773;
    width: 1100px;
}
.card3{
    border-radius: 15px;
    padding: 10px;
    background-color: #6f7773;
    width: 600px;
}
.galery-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.galery{
    width: 90%;
}
.galery-item{
    margin-top: 10px;
    border: 1px solid #6b8578;
    border-radius: 5px;
    float: left;
    width: 100%;
    background: #6b8578;
}
.zoom{
    display: block;
    width: 85%;
    margin: auto;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.zoom:hover{
    transform: scale(1.05);
    transition: all 0.15s linear;
}
.desk{
    font-size: 18px;
    color: #0b2700;
    font-style: oblique;
    font-variant: small-caps;
    padding-left: 30px;
}
.collage{
    width: 95%;
    display: block;
    margin: auto;
    justify-self: center;
    align-self: centerkl;
}

.button{
    height: 40px;
    border-radius: 20px;
    background-color: red;
    font-style: oblique;
    font-variant: small-caps;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 7px;
}